In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Pricing an Asian Call Option

S0 = 100
K = 100
r = 0.05
T = 1
sigma = 0.2

In [6]:
def GBM(S0, r, T, sigma, nsims, nsteps): 
    
    dt = T/nsteps
    
    # Initialize S to 0
    S = np.zeros((nsims, nsteps + 1 ))
    
    #Setting the initial value of S = S0 for all price paths 
    S[:,0] = S0
    
    for i in range(nsteps):
        z = np.random.randn(nsims)
        S[:,i+1] = S[:,i] * np.exp ((r-0.5*sigma*sigma)*dt + sigma*z*np.sqrt(dt))
    
    return S

In [7]:
steps = 12
sims = 100000

S = pd.DataFrame(GBM(S0, r, T, sigma, sims, steps))
S

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,100.0,107.276464,100.967088,103.220167,103.892372,113.636957,128.545661,131.770446,130.227760,138.871807,131.546661,137.956315,130.175040
1,100.0,99.618977,103.068521,99.081705,102.468872,101.223720,94.482421,91.207147,87.481280,86.269791,81.010303,84.360562,78.116988
2,100.0,104.831571,105.253599,101.020107,91.386363,87.769155,88.741073,91.053520,92.520902,92.554401,97.442218,90.886147,90.275364
3,100.0,108.366199,116.241547,114.997436,116.414205,114.470627,122.043772,123.886123,121.012843,122.407999,116.674409,113.016723,116.831787
4,100.0,98.348906,96.145932,97.731381,102.763690,102.455744,109.376635,110.701334,112.491996,112.967129,101.525901,102.123070,102.752576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,100.0,102.023112,102.619719,104.745501,98.039385,96.613385,98.280499,97.175660,104.309351,90.727937,85.904624,86.777716,83.243947
99996,100.0,100.455256,94.357088,99.756183,96.268899,93.134015,89.948189,90.207668,90.467162,88.076229,82.742117,83.730095,84.696773
99997,100.0,96.581913,92.955453,95.179248,91.666535,105.523806,103.050580,107.550055,106.120728,98.856960,96.326362,99.237663,103.726391
99998,100.0,98.738841,104.732199,97.932733,101.085326,93.073052,89.748013,91.003931,82.364933,75.164733,75.834061,73.105244,74.566114
99999,100.0,100.142388,95.993118,96.560965,104.058805,116.940387,119.746232,128.246830,123.206612,118.753737,119.179555,131.094777,119.396056

In [17]:
S_avg = S.mean(axis =1)
payoff = np.maximum(S_avg - K , 0)
Call_Asian = np.exp(-r*T)*payoff.mean()

In [18]:
Call_Asian

5.669364427830173

In [172]:
# Pricing European barrier Put Option (Up and Out)

S0 = 1000
k= 1020
T = 1
H = 1040 # barrier
r= .05
sigma = .10

simulations = 1000

time_steps = 100

In [181]:
dt = T/time_steps
total_payoff = 0
Barrier = 0

for i in range(simulations):
    Barrier = 0
    St = S0
    
    for j in range(time_steps):
        z = np.random.normal()
        Sdt = St*np.exp((r-0.5*sigma**2)*dt + sigma*np.sqrt(dt)*z)
        St = Sdt
        if St >= H:
            Barrier = 1
            break
            
    
    if Barrier == 1:
        payoff = 0 
    else:
        payoff = np.maximum(k-St,0)
        
    total_payoff = total_payoff + payoff
    

Put_price = np.exp(-r*T)*total_payoff/simulations

In [182]:
print(Put_price)

16.677731079344845